.parent {
    overflow: hidden;
}


.shelters {
    text-align: left;
    width: 50%;
    float: left;
}

.booking {
    margin-left: 45%;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 200%;
}

.bookingBesked {
    color:red;
    font-size:20px;
}