@using test_projekt.Shared.Models;
@using test_projekt.Client.Services;

@page "/booking"

<PageTitle>Booking Side</PageTitle>

<h1>Booking</h1>


<p>

    @foreach (var item in Items)
    {
    <p>
        Id: @item.Property.Navn
       
    </p>
}

    </p>

    @code {
        private List<Shelter> Items = new List<Shelter>();

        [Inject]
        public IBookingService Service { get; set; }
        protected override async Task OnInitializedAsync()
        {
            Items = (await Service.GetAllItems()).ToList();
        }
    }
